/* @media (min-width: 768px) {
    
    body{
        min-width: 100%;
        height: 100vh;        
        border: 2px solid blue;
        display: flex;
        flex-direction: row;
    }

    main{
        display: flex;
        width: 100%;
    }

    main .image-container{
        width: 100%;
        border: 2px solid red;
        position: relative;
    }

    main .image-container picture{
        position: relative;
        width: 100%;
    }

    main .image-container .image{
        width: 10%;
        position: absolute;
    }

    main .texto{
        position: absolute;
    }

    main .texto .titulo{
        padding: 100px;
        font-size: 30px;
    }

} */

body {
    background: url(../../src/images/bg-desktop.svg
)hsl(257, 40%, 49%) no-repeat;
background-size: cover;

    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header .fundo{
    margin: 50px;
}

header .fundo .logo{
    width: 200px;
}


main {
    display: flex;
}

main .image-container .image{
    width: 100%;
    margin: 60px;
}

main .texto{
    margin: 70px;
    padding: 50px;
    gap: 70px;
    color: hsl(0, 0%, 100%);
}

main .texto .titulo{
    font-size: 40px;
    font-weight: 600;
}

main  .texto .paragrafo{
    margin: 10px 0px 10px 0px;
    width: 500px;

}


main .register{
    display: flex;
    margin-top: 30px;
}

main .register a{
    background-color: hsl(0, 0%, 100%);
    border-radius: 30px;
    padding: 12px 80px;
}

main .register a:hover{
    transition: 0.5s;
    background-color: hsl(300, 69%, 71%);
    color: hsl(0, 0%, 100%);
}

footer {
    align-self: flex-end;
}

footer .navegacao ul{
    display: flex;
    margin-right: 60px;
    gap: 20px;
}

footer .navegacao a{ 
    color: hsl(0, 0%, 100%);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    border: 2px solid hsl(0, 0%, 100%);
    padding: 5px;
}

footer .navegacao a:hover{
    color: hsl(300, 69%, 71%);
    border-color: hsl(300, 69%, 71%);
    transition: 0.3s;
}
footer .navegacao i{
    padding: 5px;
}